<div class="container-fluid"> 
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <ul class="nav nav-pills nav-stacked">
        <li><a class = "nav-hover" href="/desk#List/Village Level Collection Centre/List">VLCC</a></li>
        <li><a class="head-office-list nav-hover">Head Office</a></li>
        <li><a class="camp-office nav-hover">Camp Office</a></li>
        <li><a class="chilling-centre nav-hover">Chilling Center</a></li>
        <li><a class="plant nav-hover">Plant Office</a></li>
        <li><a class="supplier-list nav-hover">Supplier</a></li>
      </ul><br>
    </div>
{% if(data.addr){ %}
    <div class="col-sm-10">
        <br>
      <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">Total Milk Procured</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="span 2">Last Week</div>
                        <span style="font-size:10px;">(in Ltrs.)</span>
                        <div class="rounded-circle milk-procure"><div class="milk-panel"></div></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="span 2">This Week</div>
                        <span style="font-size:10px;">(in Ltrs.)</span>
                        <div class="rounded-circle milk-procure"><div class="milk-panel"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">Total Indents Pending</div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="span 2">Total VLCC Requests</div>
                        <div style="margin-top:20px;"></div>
                        <div class="row-centered vlcc-request" align="center"><div class="milk-panel"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class="panel panel-default">
                <div class="panel-heading">Total Amount of Milk Procured</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <div class="span 2">Last Week</div>
                        <span style="font-size:10px;">(in Rs.)</span>
                        <div class="rounded-circle milk-procure"><div class="milk-panel"></div></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="span 2">This Week</div>
                        <span style="font-size:10px;">(in Rs.)</span>
                        <div class="rounded-circle milk-procure"><div class="milk-panel"></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="col-sm-5">
      <div class="text-left">
      <a class = "head-office-list" style="font-size: 15px;margin-left: 16px;"><b>Head Office </b></a>
    <a class="fa fa-plus new_add" id = "head-office"></a>
      </div>
      <br>
        <div class="col-md-12">
        {% if(data.addr){ %}
            {% for(var i=0, l=data.addr.length; i < l; i++) { %}
                {% if(data.addr[i].address_type == "Head Office" && data.addr[i].office_addr) { %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/desk#Form/Address/{{ data.addr[i].name }}">{%= data.addr[i].name %}</a>
                        </h4>
                    </div>
                <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {%= data.addr[i].office_addr %}
                        </div>
                </div>
                </div>
                    {% } %}
            {% } %}
        {% } %}
        </div>
        <div class="text-left">
            <a class = "camp-office" style="font-size: 15px;margin-left: 15px;"><b>Camp Offices </b></a>
            <a class="fa fa-plus new_add"></a> 
        </div>
        <br>
      <div class="col-md-12">
      {% if(data.addr){ %}
            {% for(var i=0, l=data.addr.length; i < l; i++) { %}
                {% if(data.addr[i].address_type == "Camp Office" && data.addr[i].office_addr) { %}
                <div class="panel panel-default" style="margin-bottom: 32px">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                           <a href="/desk#Form/Address/{{ data.addr[i].name }}">{%= data.addr[i].name %}</a> 
                        </h4>
                    </div>
                <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {%= data.addr[i].office_addr %}
                        </div>
                </div>
                </div>
                    {% } %}
            {% } %}
        </div>
        <div class="text-center camp-office" style="margin-bottom: 27px">
            <a href="/desk#List/Address/List">More Camp Offices...</a>
        </div>
        {% } %}
        <div class="text-left">
            <a class="chilling-centre" style="font-size: 15px;margin-left: 15px;"><b>Chilling Centres </b></a>
            <a class="fa fa-plus new_add"></a>
        </div>
        <br>
        <div class="col-md-12">
        {% if(data.addr){ %}
            {% for(var i=0, l=data.addr.length; i < l; i++) { %}
                {% if(data.addr[i].address_type == "Chilling Centre" && data.addr[i].office_addr) { %}
                <div class="panel panel-default" style="margin-bottom: 32px">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/desk#Form/Address/{{ data.addr[i].name }}">{%= data.addr[i].name %}</a> 
                        </h4>
                    </div>
                <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {%= data.addr[i].office_addr %}
                        </div>
                </div>
                </div>
                    {% } %}
            {% } %}
        </div>
        <div class="text-center" style="margin-bottom: 27px">
            <a class="chilling-centre">More Chilling Centres</a>
        </div>
        {% } %}
        <div class="text-left">
            <a class="plant" style="font-size: 15px;margin-left: 15px;"><b>Plant Offices </b></a>
            <a class="fa fa-plus new_add"></a>
        </div>
        <br>
        <div class="col-md-12">
        {% if(data.addr){ %}
            {% for(var i=0, l=data.addr.length; i < l; i++) { %}
                {% if(data.addr[i].address_type == "Plant" && data.addr[i].office_addr) { %}
                <div class="panel panel-default" style="margin-bottom: 32px">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/desk#Form/Address/{{ data.addr[i].name }}">{%= data.addr[i].name %}</a> 
                        </h4>
                    </div>
                <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {%= data.addr[i].office_addr %}
                        </div>
                </div>
                </div>
                    {% } %}
            {% } %}
        </div>
        <div class="text-center" style="margin-bottom: 27px">
            <a class="plant">More Plant Offices</a>
        </div>
        {% } %}
    </div>
    <div class="col-sm-5">
      <div class="text-left">
        <a href="/desk#List/Village Level Collection Centre/List" style="font-size: 15px;margin-left: 21px;"><b>VLCC</b></a>
        <a class="fa fa-plus" id= "new_vlcc"></a>
      </div>
      <br>
        <div class="col-md-12">
        {% if(data.vlcc){ %}
            {% for(var i=0, l=data.vlcc.length; i < l; i++) { %}
                {% if (data.vlcc[i].addr) %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="/desk#Form/Village Level Collection Centre/{{ data.vlcc[i].name }}">{%= data.vlcc[i].name %}</a> 
                            </h4>
                        </div>

                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                {%= data.vlcc[i].addr %}
                            </div>
                        </div>
                    </div>
                {% } %}
            {% } %}
        </div>
        <div class="text-center">
            <a href="/desk#List/Village Level Collection Centre/List">More VLCCs</a>
        </div>
        {% } %}    
        <div class="text-left">
            <a class="supplier-list" style="font-size: 15px;margin-left: 21px;"> <b>Suppliers</b></a>
            <a class="fa fa-plus" id= "new_supp"></a>
        </div>
        <br>
        <div class="col-md-12">
        {% if(data.supplier){ %}
            {% for(var i=0, l=data.supplier.length; i < l; i++) { %}
                {% if (data.supplier[i].addr) %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="/desk#Form/Supplier/{{ data.supplier[i].supplier }}">{%= data.supplier[i].supplier %}</a>
                        </h4>
                    </div>

                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {%= data.supplier[i].addr %}
                        </div>
                    </div>
                </div>
                 {% } %}
            {% } %}
        </div>
        <div class="text-center">
            <a class="supplier-list">More Suppliers</a>
        </div>
        {% } %}
    </div>
</div>
{% } else { %}
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-9 empty-message msg-box">
            <span class="text-center" style="font-size: 15px;">Please add masters data from left</span>
        </div>
    </div>
{% } %}
