<style type="text/css">
	th,td {
	text-align: center;
}
</style>

<div class="container-fluid" style="margin: 0 20px 0 20px">
	<div class = "row">
		<div class="col-md-12" style="overflow-y:scroll; height:500px;overflow-x:scroll; height:500px;">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th rowspan="2">Date</th>
						<th rowspan="2">Shift</th>
						<th rowspan="2">Dairy Sales</th>
					    <th colspan="5" style="text-align: center;">Dairy Received
					    </th>
					    <th colspan="5" style="text-align: center;">
					    	Spoilage
					    </th>
					    <th rowspan="2">Excess Qty</th>
					    <th rowspan="2">Short Qty</th>
					    <th rowspan="2">Profit</th>
					    <th rowspan="2">Loss</th>
					</tr>
					<tr>
						<th>Qty</th>
						<th>FAT</th>
						<th>SNF</th>
						<th>Rate</th>
						<th>Amt</th>
						<th>Qty</th>
						<th>FAT</th>
						<th>SNF</th>
						<th>Rate</th>
						<th>Amt</th>
					</tr>
					{% $.each(vmcr_data, function(i, val){ %}
						<tr>
						    <td>{%= val.vmcr_date %}</td>
						    <td>{%= i.split("#")[1][2] %}</td>
						    <td>{%= flt(val.daily_sales,2) %}</td>
						    <td>{%= val.vmcr_qty %}</td>
						    <td>{%= val.fat %}</td>
						    <td>{%= val.snf %}</td>
						    <td>{%= val.rate %}</td>
						    <td>{%= flt(val.vmcr_amount,2) %}</td>
						    
						    <td>{%= flt(val.spoil_qty,2) %}</td>
						    {% if (val.spoil_qty > 0) { %}
						    	<td>{%= flt(val.spoil_fat/val.spoil_qty,2) %}</td>
						    {% } else { %}
						    	<td>{%= 0 %}</td>
						    {% } %}

						    {% if (val.spoil_qty > 0) { %}
						    	<td>{%= flt(val.spoil_snf/val.spoil_qty,2) %}</td>
						    {% } else { %}
						    	<td>{%= 0 %}</td>
						    {% } %}
						    
						    {% if (val.spoil_qty > 0) { %}
						    	<td>{%= flt(val.spoil_amount/val.spoil_qty,2) %}</td>
						    {% } else { %}
						    	<td>{%= 0 %}</td>
						    {% } %}

						    <td>{%= flt(val.spoil_amount,2) %}</td>
						    <td>{%= flt(val.excess_qty,2) %}</td>
						    <td>{%= flt(val.short_qty,2) %}</td>
						    <td>{%= flt(val.profit,2) %}</td>
						    <td>{%= flt(val.loss,2) %}</td>
						</tr>
					{% }); %}
				</tbody>
			</table>
		</div>
	</div>
</div>