<style type="text/css">
	th,td {
	text-align: center;
}
</style>

<div class="container-fluid" style="margin: 0 20px 0 20px">
	<div class="row">
		<div class="col-xs-2">
		</div>
		<div class="col-xs-8 text-center">
	        <h3>
		        {%= vlcc %},
				{% if (vlcc_addr) { %}
		            {% for(var i=0, l=vlcc_addr.split("<br>").length; i < l; i++) { %}
		            	{% if (i == l-1) { %}
							{%= ("") %}
						{% } else { %}
							{% if (i == l-2) { %}
								{%= vlcc_addr.split("<br>")[i] %}
							{% } else { %}
								{%= vlcc_addr.split("<br>")[i] %},
							{% } %}
						{% } %}
					{% } %}
		        {% } %}
        	</h3>
		</div>
		<div class="col-xs-2">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12" style="font-size: 16px;">
			<center>
				<b>Dairy Register - 2</b>
			</center>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12" style="font-size: 16px;">
			<center>
			<b>{%= __("Start Date:") %}</b>
		{%= start_date %}
			<b>{%= __("End Date:") %}</b>
		{%= end_date %}
			</center>
		</div>
	</div>
	<div style="border-top: double #d1d8dd; margin: 4px 0 4px 0"></div>
	<br>
	<div class = "row">
		<div class="col-md-12">
			<table class="table table-bordered">
				<tbody>
					<tr>
						<th rowspan="2">Date</th>
						<th rowspan="2">Shift</th>
						<th rowspan="2">Dairy Sales</th>
					    <th colspan="5" style="text-align: center;">Dairy Received
					    </th>
					    <th colspan="5" style="text-align: center;">
					    	Spoilage
					    </th>
					    <th rowspan="2">Excess Qty</th>
					    <th rowspan="2">Short Qty</th>
					    <th rowspan="2">Profit</th>
					    <th rowspan="2">Loss</th>
					</tr>
					<tr>
						<th>Qty</th>
						<th>FAT</th>
						<th>SNF</th>
						<th>Rate</th>
						<th>Amt</th>
						<th>Qty</th>
						<th>FAT</th>
						<th>SNF</th>
						<th>Rate</th>
						<th>Amt</th>
					</tr>
					
					{% $.each(vmcr_data, function(i, val){ %}
						<tr>
						    <td>{%= val.vmcr_date %}</td>
						    <td>{%= i.split("#")[1][2] %}</td>
						    <td>{%= flt(val.daily_sales,2) %}</td>
						    <td>{%= val.vmcr_qty %}</td>
						    <td>{%= val.fat %}</td>
						    <td>{%= val.snf %}</td>
						    <td>{%= val.rate %}</td>
						    <td>{%= flt(val.vmcr_amount,2) %}</td>
						    
						   	<td>{%= flt(val.spoil_qty,2) %}</td>
						    <td>{%= flt(val.spoil_fat/val.spoil_qty,2) %}</td>
						    <td>{%= flt(val.spoil_snf/val.spoil_qty,2) %}</td>
						    <td>{%= flt(val.spoil_amount/val.spoil_rate,2) %}</td>
						    <td>{%= flt(val.spoil_amount,2) %}</td>

						    <td>{%= flt(val.excess_qty,2) %}</td>
						    <td>{%= flt(val.short_qty,2) %}</td>
						    <td>{%= flt(val.profit,2) %}</td>
						    <td>{%= flt(val.loss,2) %}</td>
						</tr>
					{% }); %}
				</tbody>
			</table>
		</div>
	</div>
</div>